<a href="https://colab.research.google.com/github/israellopes19/python/blob/main/Aula5_PNT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# ETE CÍCERO DIAS
# DOCENTE : CLOVES
# ESTUDANTES: ISREAL
# print('Cloves')
# Tipos Primitivos de Dados
c=10
print ( type(c))

In [ ]:
<class ' float'>

In [ ]:
# 3.Operadores Aritmetricos - Python
#10+1
#10 - 1
#4*5
#10 / 3
# 10 // 3
#2 ** 3
#13 % 2

#c = 2 ** 3
#print(c)

c = 10 // 3
print(c)

In [ ]:
3

In [ ]:
#3.Operadores Relacionais Simples

#7 > 5
#10 > 15

notaA = 5
notaB = 10
notaA = notaB
print(notaA)

In [ ]:
10

In [ ]:
#5. Operadores Relacionais Composto
#na = 10
#nb = 6
#nc = 8
#nd = 9
#na >= nb
#7 >= 6
#print('Estudante aprovado!')
#7 <= 10
a = 10
b = 9
a != b

In [ ]:
True

In [ ]:
nome = input('Digite seu nome')
print(f'Seu nome é {nome},')

In [ ]:
Digite seu nome: Israel
Seu nome é: Israel

In [ ]:
idade= input('Digite sua idade')
print(f'Você tem{idade} anos e','Meses')
print(type(idade))

In [ ]:
Digite sua idade:19.4
Você tem 19 anos e 4 meses
<class 'float'>

In [ ]:
peso= float(input('Digite seu peso'))
print(f'Você pesa {peso}KGs')
print(type(peso))

In [ ]:
Digite seu peso: 71
Voê pesa 71.0KGs
<class 'float'>